<section class="card" id="login">
    <h2 class="title">Login</h2>
    <form action="" method="post">
        <div class="input-group">
            <div class="input-row">
                <label for="email">Email</label>
                <input type="email" placeholder="email@email.com" name="email" id="email">
            </div>
            <div class="input-row">
                <label for="password">Password</label>
                <input type="password" placeholder="•••••••••••" name="password" id="password">
            </div>
        </div>
        <input type="submit" name="enviar" id="enviar" value="Fazer login">
    </form>
</section>